*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: PP mori;
}

html body{
    height:100%;
    width:100%;
  
}
body{
    background-color: rgb(58, 58, 55);
    display:flex;
    align-items: center;
    justify-content: center;
}

#container{
    height:400px;
    width:350px;
    border-radius: 30px;
    background-color: white;
    margin-top:150px;
    position:relative;
    overflow: hidden;
}
#container img{
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    /* box-shadow: 10px; */
}

#container i{
    color:#fff;
    font-size: 70px;
    position:absolute;
    top:50%;
    left:50;
    transform: translate(-300%, -50%) scale(0);  
    opacity:0;
    transition: transform ease 0.4s
}